body {
    background-image: url("https://wallpapers.com/images/high/pikachu-4k-and-pokemon-cousins-field-trip-03fs1oq9pudixw79.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: tahoma, -apple-system, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

#container {
    width: 250px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 #9E9EA7;
    margin: 20vh auto 30vh auto;
    background-color: rgb(222, 234, 251, .5)
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #213FFF;
}

#save-btn {
    background: darkgreen;
}

a {
    font-size: 0.5em;
}

